<div class="controls">
  <button mat-raised-button color="primary" (click)="togglePlay()" [disabled]="!canPlay" [matTooltip]="!canPlay ? 'Randomize to enable play' : (isPlaying ? 'Pause the simulation' : 'Start the simulation')">
    <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
    <span>{{ isPlaying ? 'Pause' : 'Play' }}</span>
  </button>
  <button mat-raised-button color="accent" (click)="randomize()" matTooltip="Randomize the grid">
    <mat-icon>shuffle</mat-icon>
    Randomize
  </button>
  <button mat-raised-button color="basic" (click)="clear()" [disabled]="!canClear" [matTooltip]="!canClear ? 'Stop the simulation to clear the grid' : 'Clear the grid'">
    <mat-icon>clear</mat-icon>
    Clear
  </button>
  <button mat-raised-button color="primary" (click)="openGameInfo()" matTooltip="Learn about the Game of Life">
    <mat-icon>info</mat-icon>
    Info
  </button>
</div>
<div class="statistics" *ngIf="showStats">
  <p>Generation: {{ generation }}</p>
  <p>Living Cells: {{ livingCells }}</p>
  <p>Most Living Cells: {{ mostLivingCells }}</p>
  <p>Least Living Cells: {{ leastLivingCells }}</p>
</div>
<canvas id="canvas"></canvas>